@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

body {
    position: relative;
    background-color: #F0F2F5!important;
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 55px;
    background: white;
    padding: 10px 0;
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.active {
    width: 232px;
}

.sidebar .logo_content .logo {
    display: flex;
    margin-left: 50px;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s ease, pointer-events 0s ease;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease, pointer-events 0s ease 0.5s;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s ease;
    display: none;
}

.sidebar.active .logo_content .logo .logo_name {
    opacity: 1;
    pointer-events: auto;
    display: block;
}

.sidebar #btn {
    position: absolute;
    padding: 0;
    top: 21px;
    left: 20px;
    height: fit-content;
    width: auto;
    text-align: center;
}

.sidebar.active #btn {
    left: 20px;
}

.sidebar ul {
    padding: 5px;
}

.sidebar.active ul {
    padding: 10px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
}

.sidebar ul li a:hover {
    color: white;
    background: green;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    display: none;
    transition: opacity 0.5s ease, display 0.5s ease;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
    display: inline;
}

.sidebar ul li a {
    color: gray;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    padding: 10px;
    margin-right: 10px;
    gap: 10px;
    white-space: nowrap;
}
.sidebar.active ul li a{
    padding: 10px;
    margin: 0;
}
.sidebar ul li a svg {
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .dropdown {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.sidebar .dropdown #Profile .col strong {
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease, display 0.5s ease;
}

.sidebar.active .dropdown #Profile .col strong {
    opacity: 1;
    display: block;
}

.sidebar .dropdown #Profile .col weak {
    font-size: 12px;
    font-weight: 400;
    color: #606060;
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease, display 0.5s ease;
}

.sidebar.active .dropdown #Profile .col weak {
    opacity: 1;
    display: block;
}

.sidebar.active .dropdown-toggle {
    display: none;
}


  .home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 55px);
    left: 55px;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 232px;
  }
  .home_content #content1{
    width: auto;
  }

  @media (max-width: 768px) {
    .home_content {
        width: 90%;
        left: 55px;
        z-index: 0; 
    }

    .sidebar.active ~ .home_content {
        width: 100%;
        left: 0;
    }
    .table {
        overflow: auto;
        display: block;
        max-width: 100%;
      }
    
}
   @media (max-width: 435px) {
    .home_content {
        width: 80%;
        left: 55px;
        z-index: 0; 
    }
    .sidebar.active ~ .home_content {
        width: 100%;
        left: 0;
    }
   }

 .table thead th {
    font-weight: normal;
    color:#9D9EA1;
    padding: 30px 10px;
}

.table tbody tr {
    font-size: 14px;
    font-weight: 400;
}

.table tbody th {
    padding: 20px 10px ;
    font-size: 14px;
    font-weight: 500;
}

.table tbody td {
    padding: 20px 0 ;
    font-size: 14px;
    font-weight: 500;
}